html,
body {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  background-color: #e3f0b8;
  padding: 1rem;
  text-align: center;
}

footer {
  background-color: #e3f0b8;
  padding: 1rem;
  text-align: center;
  bottom: 0;
  width: 100%;
}

input {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 5px;
  background-color: #bbc2a6;
}

select {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 5px;
  background-color: #bbc2a6;
  border: 1px solid #e3f0b8;
  color: #333;
}

select:hover {
  outline: none;
  background-color: #e3f0b8;
}

button {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  background-color: #e3f0b8;
  border-radius: 10px;
  border-color: #e3f0b8;
}

button:hover {
  background-color: #d8ed91;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  background-color: #bbc2a6;
  border-radius: 5px;
  margin-top: 10px;
}

li > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtask {
  margin-left: 20px;
  background-color: #e0e5d9;
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 5px;
}

#root,
.__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.boxes {
  --size: 32px;
  --duration: 800ms;
  height: calc(var(--size) * 2);
  width: calc(var(--size) * 3);
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  margin: auto;
  margin-top: calc(var(--size) * 1.5 * -1 + 166px);
  margin-bottom: 174px;

  transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}

.boxes .box {
  width: var(--size);
  height: var(--size);
  top: 0;
  left: 0;
  position: absolute;
  transform-style: preserve-3d;
}

.boxes .box:nth-child(1) {
  transform: translate(100%, 0);
  -webkit-animation: box1 var(--duration) linear infinite;
  animation: box1 var(--duration) linear infinite;
}

.boxes .box:nth-child(2) {
  transform: translate(0, 100%);
  -webkit-animation: box2 var(--duration) linear infinite;
  animation: box2 var(--duration) linear infinite;
}

.boxes .box:nth-child(3) {
  transform: translate(100%, 100%);
  -webkit-animation: box3 var(--duration) linear infinite;
  animation: box3 var(--duration) linear infinite;
}

.boxes .box:nth-child(4) {
  transform: translate(200%, 0);
  -webkit-animation: box4 var(--duration) linear infinite;
  animation: box4 var(--duration) linear infinite;
}

.boxes .box > div {
  --background: #d8ed91;
  --top: auto;
  --right: auto;
  --bottom: auto;
  --left: auto;
  --translateZ: calc(var(--size) / 2);
  --rotateY: 0deg;
  --rotateX: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  top: var(--top);
  right: var(--right);
  bottom: var(--bottom);
  left: var(--left);
  transform: rotateY(var(--rotateY)) rotateX(var(--rotateX))
    translateZ(var(--translateZ));
}

.boxes .box > div:nth-child(1) {
  --top: 0;
  --left: 0;
}

.boxes .box > div:nth-child(2) {
  --background: #d8ed91;
  --right: 0;
  --rotateY: 90deg;
}

.boxes .box > div:nth-child(3) {
  --background: #000000;
  --rotateX: -90deg;
}

.boxes .box > div:nth-child(4) {
  --background: #464d2f;
  --top: 0;
  --left: 0;
  border-color: #464d2f;
  --translateZ: calc(var(--size) * 3 * -1);
}

@-webkit-keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(200%, 0);
  }
}

@keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(200%, 0);
  }
}

@-webkit-keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

@keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

@-webkit-keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%);
  }

  100% {
    transform: translate(0, 100%);
  }
}

@keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%);
  }

  100% {
    transform: translate(0, 100%);
  }
}

@-webkit-keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }

  50% {
    transform: translate(200%, 100%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}

@keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }

  50% {
    transform: translate(200%, 100%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}
